.custom-container {
  position: relative;
  z-index: 20;
  overflow: hidden;
  border-radius: 8px;
}

.custom-content {
  background: linear-gradient(#ffffff, #ffffff) padding-box transparent;
  border-radius: 8px;
  padding: 0 2rem;
  border: 2.5px solid transparent;
  text-align: center;
}

.background {
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 8px;
}

.trail {
  width: 100px;
  aspect-ratio: 2 / 1;
  position: absolute;
  background: radial-gradient(100% 100% at right, var(--bg-brand-sel), transparent 120%);
  offset-path: border-box;
  offset-anchor: 100% 50%;
  animation: journey 6s infinite linear;
}


@keyframes journey {
  to {
    offset-distance: 100%;
  }
}
