.item {
  grid-area: 1/1;
  animation: spinc 12s var(--d, 0s) linear infinite; /* duration = 12s, numbor of item = 6 so a delay of 12/6 = 2s */
  transform: rotate(0) translate(200px) rotate(0);
}

@keyframes spinc {
  100% {
    transform: rotate(1turn) translate(200px) rotate(-1turn);
  }
}
