@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-title: #222327;
    --color-description: #6b7280;
    --color-description-dark: #ededed;
    --bg-brand-sel: #11b57f;
    --bg-brand-sel-hover: #059669;
  }
}

html,
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: auto;
  transition: 1s;
}
body::-webkit-scrollbar {
  width: 7px;
  background: var(--color-dark);
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--bg-brand-sel-hover);
}

.nav-list-float {
  z-index: 5000;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: fixed;
  top: 30px;
  bottom: auto;
  left: 0%;
  right: 0%;
}

@keyframes opacityanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-op {
  animation: 1.2s ease-in 0s 1 normal forwards running opacityanimation;
}

@keyframes fadeindown {
  from {
    opacity: 0;
    top: 0px;
  }

  to {
    opacity: 1;
    top: 30px;
  }
}

.animationFadeInDown {
  visibility: visible;
  animation: fadeindown 0.5s;
}
